<header class="intro">
      <div class="intro-body">
		<%= render  'layouts/navigation'%>		
			<div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
            <%= bootstrap_form_for(@course) do |f| %>
  					<%= f.text_field :title %>
  					<%= f.text_area :description %>
  					<%= f.submit "add course" %>
					<% end %>
					</div>
              </div>
          </div>
      </div>
  </header>