<h1>List of Courses</h1>

<% if user_signed_in? %>

  <table class="table">
    <tr>
      <th scope="row"></th>
      <td>Title</th>
      <td>Summary</td>
      <td></td>
    </tr>

    <% @courses.each do |course| %>
      <tr>
        <th scope="row"></th>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <td><%= link_to "Show", course %></td>
        <td><%= link_to "Subscribe", learnings_apply_path(learning: {user_id: current_user.id, course: course.id, status: :pending }), method: :post %></td>
        <td><%= current_user.id %></td>
        <% if current_user.mentor? %>
        <td><%= link_to 'Edit', edit_course_path(course)%></td>
        <td><%= link_to 'Destroy', course , method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
<% end %>


  </table>

<% if current_user.mentor? %>  
  <%= link_to "New course", new_course_path %>
<% end %>

<% else %>
  <%= link_to "Sing in", new_user_session_path %>

<% end %>


